@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-color: #090E16;
  --color2: #7B4AE2;
  --color3: rgba(255, 255, 255, .5);

  --main-border: 16px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  position: relative;
  max-width: 100%;
}

body {
  background: var(--bg-color);
  font-family: 'Raleway', sans-serif;
}

.bg-white{
  background: rgba(123, 74, 226, 0.05);
  box-shadow: 0 4px 30px rgb(0 0 0 / 10%);
  backdrop-filter: blur(5px);
}

.rounded {
  border-radius: var(--main-border);
}